* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

body {
    background-color: #fdf3e6;
    color: #3b2a1a;
}
.navbar {
    background-color: #f5e1c8;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    margin-left: 20px;
    color: #3b2a1a;
    font-weight: bold;
    text-decoration: none;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}